.aw-about {
  &__section {
    color: #000;
    padding: 30px 10px;
    background-color: $aw-light-blue;
    width: 100%;
  }

  &__content {
    padding: 10px;
    p {
      font-size: 1.5rem;
    }

    p::first-word {
      font-size: 3rem;
    }
  }
}