$placeholder-color: rgba(255, 255, 255, 0.8);

.aw-contact {

  &__section {
    box-shadow: none;
    width: 100%;
  }

  &__content {
    @include display(flex);
    @include justify-content(center);
  }

  &__wrap {
    width: 85%;
    max-width: 450px;
  }

  &__field {
    @include transition(all 0.3s ease-in-out);
    @include placeholder {
      color: $placeholder-color;
    }

    background-color: $aw-dark-grey;
    border: 2px solid $aw-light-blue;
    color: $text-color;
    font-family: $base-font-family;
    font-weight: 100;
    padding: 5px;
    width: 100%;

    &.aw-input {
      height: 2rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }

    &.aw-textarea {
      min-height: 8rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }

    &:focus {
      border-color: $aw-salmon;
      outline: none;
    }
  }

  &__label {
    visibility: hidden;
  }

  &__submit {
    @include transition(all, 0.3s, ease-in-out);
    background-color: $aw-light-blue;
    border: none;
    color: $aw-dark-grey;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;

    &:focus,
    &:hover {
      background-color: $aw-salmon;
      outline: none;
    }
  }
}