/* Comments in CSS exist between / * * /
*/

body,
html {
  height: 100%;
}


body {
  color: rgb(241,241,241);
  font-family: helvetica neue;
  margin: 0;
  height: 100%;
  line-height: 1.5;
}

p {
  font-size: 18px;
}

.aw-main__section {
  background-color: $aw-dark-grey;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90%;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.aw-main__image {
  width: 175px;
  border-radius: 50%;
}

.aw-main__content {
  text-align: center;
}

.aw-resume__section,
.aw-contact__section {
  /* Here we are using Hexadecimal values for color instead of rgb. */
  color: #323232;
  /* mention we don't want things on the edge of the screen, then padding */
  /* need to also show how blocks in html go from N E S W */
  /* put some space inbetween the element border and inner conent */
  padding: 0 5% 10%;
}

.aw-resume__skills-wrap {
  display: flex;
}

/* Here, don't add the contact title until we make that component. When you do, mention
how commas work in css */
.aw-resume__title,
.aw-contact__title {
  font-size: 35px;
}

.aw-resume__skills {
  /* Tells the items to take up */
  flex-grow: 1;
}

.aw-resume__card {
  /*
  Notice we can also use certain color names that the browser recognises
  see here for more: http://www.w3schools.com/html/html_colornames.asp;
  */
  border: 1px solid grey;
  padding: 3px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.aw-contact__section {
  color: white;
  background-color: rgb(23, 22, 22);
  overflow: hidden;
}

.aw-contact__link {
  color: white;
  font-size: 50px;
}

.aw-main {
  &__heading {
    font-size: 55px;
    font-weight: 700;
  }

  &__name {
    margin-bottom: 50px;
  }
}

.aw-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    flex-grow: 1;
    margin: 5px 5px;
    text-align: center;
  }
}

.aw-footer {
  background-color: lighten($aw-dark-grey, 5%);
  border-top: 5px solid $aw-light-blue;
  color: $aw-body-text-color;
}