/* Comments in CSS exist between / * * /
*/

body,
html {
  height: 100%;
  font-size: $base-font-size;
}


body {
  color: rgb(241,241,241);
  background-color: $aw-dark-grey;
  font-family: helvetica neue;
  margin: 0;
  height: 100%;
  line-height: 1.5;
}

p {
  font-size: 18px;
  &::selection {
    color: $text-color;
    background-color: $highlight-text-color;
  }
}

section {
  box-shadow: 0px 5px 10px 0px $aw-shadow inset;
}

ul {
  list-style: none;
}

.flex-column {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
}


.aw-main__image {
  width: 175px;
  border-radius: 50%;
}

.aw-main__content {
  text-align: center;
}

.aw-resume__section,
.aw-contact__section {
  /* Here we are using Hexadecimal values for color instead of rgb. */
  color: #323232;
  /* mention we don't want things on the edge of the screen, then padding */
  /* need to also show how blocks in html go from N E S W */
  /* put some space inbetween the element border and inner conent */
  padding: 0 5% 10%;
}

.aw-resume__skills-wrap {
  @include display(flex);
}

/* Here, don't add the contact title until we make that component. When you do, mention
how commas work in css */
.aw-resume__title,
.aw-contact__title {
  font-size: 35px;
}

.aw-resume__skills {
  /* Tells the items to take up */
  @include flex-grow(1);
}

.aw-resume__card {
  /*
  Notice we can also use certain color names that the browser recognises
  see here for more: http://www.w3schools.com/html/html_colornames.asp;
  */
  border: 1px solid grey;
  padding: 3px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.aw-contact__section {
  color: white;
  background-color: rgb(23, 22, 22);
  overflow: hidden;
}

.aw-contact__link {
  color: white;
  font-size: 50px;
}

.aw-main {
  &__section {
    background-color: $aw-dark-grey;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: none;
    padding: 10% 1%;
    width: 100%;
  }
  &__heading {
    font-size: 5.625rem;
    font-weight: 700;
  }

  &__name {
    margin-bottom: 50px;
  }

  &__flexbox-wrap {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    height: 100%;
  }

  &__whoiam {
    color: $aw-light-blue;
    font-size: 3.75rem;
    font-weight: 200;
    opacity: 0.6;
  }
}

.aw-nav {
  //@include display(flex);
  @include display(flex);
  @include flex-wrap(wrap);
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    @include flex-grow(1);
    margin: 5px 5px;
    text-align: center;
  }
}

.aw-footer {
  background-color: lighten($aw-dark-grey, 5%);
  border-top: 5px solid $aw-light-blue;
  color: $aw-body-text-color;

  &__links {
    @include display(flex);
    list-style: none;
    margin: 0 auto;
    width: 80%;
  }

  &__link {
    text-align: center;
    width: 25%;
  }
}

.aw-above-fold {
  min-height: 85%;
}

.section-title {
  font-weight: 700;
  font-size: 2.5rem;
}