.aw-projects {
  &__section {
    color: #000;
    padding: 30px 10px;
    background-color: $aw-salmon;
    width: 100%;
  }

  &__flex-wrap {
    @include display(flex);
    @include flex-wrap(wrap);
  }
}

.project-card {
  margin: 10px;
  margin-bottom: 55px;
  &__badges {
    margin-bottom: 10px;
  }

  &__badge-list {
    @include display(flex);
    @include flex-wrap(wrap);
    margin: 0;
  }

  &__badge {
    margin: 5px 10px 0px 0px;
    padding: 5px;
    background-color: $aw-dark-grey;
    color: white;
  }

  &__title {
    font-weight: 500;
    font-size: 2rem;

    a {
      color: $aw-dark-grey;
    }
  }

  p {
    font-size: 1.5rem;
    a {
      color: $aw-dark-grey;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}
