<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>

  <body>
    <div class="aw-main__flexbox-wrap">
      <div class="aw-header">
        <nav class="aw-header__nav">
          <a class="aw-header__link" 
            href="https://github.com/arafeek">
            GitHub
          </a>
          <a class="aw-header__link" 
            href="https://ca.linkedin.com/pub/adam-rafeek/89/71a/47a">
            LinkedIn
          </a>
          <a class="aw-header__link" 
            href="https://www.flickr.com/photos/134178876@N05/">
            Flickr
          </a>
        </nav>
      </div>
      <section class="aw-main__section flex-column">
        <div class="aw-main__content">
          <!-- <img class="aw-main__image" src="./img/Adam.jpg" /> -->
          
            <h1 class="aw-main__heading bracket-link__text">Adam
              <span class="aw-main__heading--alt">Rafeek</span>
            </h1>
            <h3 class="aw-main__whoiam"> Software Developer </h3>

        </div>
        <div class="aw-main__links">
          <ul class="aw-nav">
            <li class="aw-nav__item">
              <a href="#about-me" class="bracket-link"> 
                <div class="spacer__top"></div>
                <div class="spacer__right"></div>
                <div class="spacer__bottom"></div>
                <div class="spacer__left"></div>
                <span class="bracket-link__text">About Me</span>
              </a>
            </li>
            <li class="aw-nav__item">
              <a href="#projects" class="bracket-link projects-link"> 
                <div class="spacer__top"></div>
                <div class="spacer__right"></div>
                <div class="spacer__bottom"></div>
                <div class="spacer__left"></div>
                <span class="bracket-link__text">Projects</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="aw-about__section">
        <div class="aw-about__content">
          <h1 class="aw-about__title section-title"
            id="about-me"> About Me </h1>
          <p>
            Hey, I'm Adam and I enjoy building apps. When I'm not doing that, I'm working on my Bachelor's of Computer Science over at the University of Waterloo.
          </p>
          <p> I use JavaScript and whatever cool tools and frameworks I can find to make great software. </p>
        </div>
      </section>
      <section class="aw-projects__section">
        <div class="aw-projects__content">
          <h1 class="aw-projects__title section-title"
            id="projects"> Projects </h1>

            <div class="project-card">
              <h1 class="project-card__title">
                <a target="_blank"
                  href="http://www.notehub.xyz/"> NoteHub </a>
              </h1>
              <div class="project-card__badges">
                <ul class="project-card__badge-list">
                  <li class="project-card__badge">
                    <span> HTML5 </span>
                  </li>
                  <li class="project-card__badge">
                    <span> AngularJS </span>
                  </li>
                  <li class="project-card__badge">
                    <span> ES6 </span>
                  </li>
                  <li class="project-card__badge">
                    <span> Webpack </span>
                  </li>
                  <li class="project-card__badge">
                    <span> SCSS </span>
                  </li>
                </ul>
              </div>
              <div clas="project-card__description">
                <p> NoteHub was born from a need to be able to take well formatted notes quickly during classes / meetings without having time to fight through the mess of menus common with traditional rich text editors (Microsoft Word, LibreOffice, etc..). Currently it supports both Markdown and LaTeX in the same document. It's still a work in progress as I have a whole host of features still to add. 
                </p>
                <p> <a target="_blank" href="https://github.com/arafeek/notehub"> View Source Code </a> </p>
              </div>
              <div class="project-card__options">
              </div>
            </div>

            <div class="project-card">
              <h1 class="project-card__title">
                <a href="http://i.cx/"
                  target="_blank"> I.CX </a>
              </h1>
              <div class="project-card__badges">
                <ul class="project-card__badge-list">
                  <li class="project-card__badge">
                    <span> HTML5 </span>
                  </li>
                  <li class="project-card__badge">
                    <span> ReactJS </span>
                  </li>
                  <li class="project-card__badge">
                    <span> CSS3 </span>
                  </li>
                  <li class="project-card__badge">
                    <span> GulpJS </span>
                  </li>
                </ul>
              </div>
              <div clas="project-card__description">
                <p> I.CX is a web application that allows users to send encrypted messages and media right in their web browsers without any complicated setup. I was one of 4 developers on this project and worked on designing and developing large sections of the UI as well core business logic.
                </p>
              </div>
              <div class="project-card__options">
              </div>

            </div>
        </div>
      </section>
    </div>
  </body>
</html>